---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
IndentCaseLabels: true
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
FixNamespaceComments: true
---
